# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
config.json
*.log
tests.ipynb
*.db
*.db-journal
*.db-trace
*.db-wal
*.db-shm
*.db-lock